$("form").remove();
$("#new_pet_link").show();
$('#pets-table').append("<%= j render @pet %>");

<% if @result %>
  $("#flash-messages").html("<p class='alert alert-success'> <%= flash[:notice] %></p>");
<% else %>
  $("#flash-messages").html("<p class='alert alert-danger'> <%= flash[:alert] %></p>");
<% end %>
